html {
  width: 100%;
}

body {
  width: 100%;
  margin: 0;
  font-family: sans-serif;
  overscroll-behavior: none;
}

.body-container {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 100px;
  right: 0;
  -webkit-overflow-scrolling: touch;
}

.color-picker-main-container {
  width: 100%;
  font-size: 22px;
  // margin-bottom: 110px;
}
